:root {
  --modal-content-width: 800px;
  --modal-content-height: 600px;
  --main-image-width: 600px;
  --main-image-height: 450px;
  --container-max-width: 80%;
  --controls-margin-top: -50px;
  --controls-padding: 16px;
}
@media only screen and (max-width: 770px) {
  :root {
    --modal-content-width: 600px;
    --modal-content-height: 450px;
  }
}
@media only screen and (max-width: 440px) {
  :root {
    --modal-content-width: 300px;
    --modal-content-height: 225px;
    --main-image-width: 300px;
    --main-image-height: 225px;
    --container-max-width: 100%;
    --controls-margin-top: -35px;
    --controls-padding: 8px;
  }
}
body {
  margin: 0;
  padding: 0;
}
.container {
  max-width: var(--container-max-width);
  margin: 45px auto;
  padding: .75rem
}
.mainImage {
  cursor: zoom-in;
  max-width: var(--main-image-width);
  max-height: var(--main-image-height);
}
#description {
  font-size: 1.25rem;
}
#thumbnailContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}
.thumbnailDiv {
  background-color: rgb(240, 240, 240);
  width: 80px;
  height: 60px;
  margin-right: .2rem;
}
.thumbnail {
  cursor: pointer;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  justify-content: center;
}
/* img modal */
#imgModalContainer {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5vh;
  padding-bottom: 5vh;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.95);
}
.modalContent {
  position: relative;
  background-color: rgb(240, 240, 240);
  margin: auto;
  padding: 0;
  width: var(--modal-content-width);
  height: var(--modal-content-height);
  box-shadow: 0 0 10px black;
}
.closeModal {
  cursor: pointer;
  text-align: center;
  background-color: white;
  color: black;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -15px;
  right: -10px;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 25px;
  font-weight: bold;
}
.modalImg {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  justify-content: center;
}
.previousImg,
.nextImage {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: var(--controls-padding);
  margin-top: var(--controls-margin-top);
  color: black;
  background-color: rgba(240, 240, 240, 0.3);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.previousImg {
  left: 0;
}
.nextImage {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.imgNumber {
  text-align: center;
  color: black;
  font-size: .9rem;
  padding: 8px 0;
  background-color: rgb(240, 240, 240, .3);
  position: absolute;
  top: 0;
  width: 100%;
}